<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845351026928-litipp3b2dtaiiajcevoptbiglusb54g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845351026928-litipp3b2dtaiiajcevoptbiglusb54g</string>
	<key>API_KEY</key>
	<string>AIzaSyCQAe9kSEcU7UTDXw85PM-_QV4jwDKPi9c</string>
	<key>GCM_SENDER_ID</key>
	<string>845351026928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mateuszficek.finner</string>
	<key>PROJECT_ID</key>
	<string>finner-9c385</string>
	<key>STORAGE_BUCKET</key>
	<string>finner-9c385.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845351026928:ios:91246d52b69b332de30235</string>
</dict>
</plist>